[Unit]
Description=Flightradar24 Feeder
After=network-online.target
[Service]
Type=simple
Restart=always
LimitCORE=infinity
RuntimeDirectory=fr24feed
RuntimeDirectoryMode=0755
ExecStartPre=-/bin/mkdir -p /var/log/fr24feed
ExecStartPre=-/bin/mkdir -p /run/fr24feed
ExecStartPre=-/bin/touch /dev/shm/decoder.txt
ExecStartPre=-/bin/chown fr24 /dev/shm/decoder.txt /run/fr24feed /var/log/fr24feed
ExecStart=/usr/bin/fr24feed
User=fr24
PermissionsStartOnly=true
StandardOutput=null
[Install]
WantedBy=multi-user.target
